p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #6b6768;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #060606;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

header #site-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header .container-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
}
header nav {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background-color: #fff;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header nav .navbar {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
}
@media (min-width: 992px) {
  header nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
header nav h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 28px;
}
header nav h1 .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: #060606;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
header nav h1 .navbar-brand .img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
header nav .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (min-width: 992px) {
  header nav .navbar-collapse {
    display: flex;
    flex-basis: auto;
  }
}
@media (min-width: 992px) {
  header nav .navbar-collapse #primary-menu {
    flex-direction: row;
    margin-left: auto;
    display: flex;
  }
}
header nav .navbar-collapse #primary-menu .menu-item {
  padding: 0 10px;
  transition: all 0.5s ease;
  position: relative;
}
header nav .navbar-collapse #primary-menu .menu-item .link-red {
  color: #f50057;
  display: block;
  padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
  header nav .navbar-collapse #primary-menu .menu-item .link-red {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
header nav .navbar-collapse #primary-menu .menu-item .link {
  padding: 10px 0;
  font-size: 16px;
  color: #060606;
  letter-spacing: 0.5px;
  display: block;
  padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
  header nav .navbar-collapse #primary-menu .menu-item .link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
header nav .navbar-collapse #primary-menu .menu-item a:hover {
  color: #f50057;
}
header nav .search {
  border-radius: 30px;
  background-color: #f50057;
  padding: 12px 25px;
  border: none;
  margin-left: 15px;
}
header nav .search a {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
header nav .icon {
  margin-left: 5%;
}

#banner {
  background-image: url(https://wp.w3layouts.com/online-study/wp-content/themes/online-study/assets/images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  background-color: #fbfbfb;
}
#banner .content {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  z-index: 99;
}
#banner .content h4 {
  font-weight: 700;
  margin-bottom: 2%;
}
#banner .content ul {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
}
#banner .content ul a {
  color: #f50057;
}

#content {
  padding: 5%;
}
#content .row {
  justify-content: space-between;
}
#content .small-container {
  max-width: 32%;
  margin-bottom: 2%;
}
#content .small-container img {
  width: 100%;
  border-radius: 10px;
}
#content .small-container .post-thumbnail {
  width: 100%;
  height: 250px;
  display: block;
  overflow: hidden;
}
#content .small-container .post-thumbnail img {
  display: block;
  background-color: #fdf2f6;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#content .small-container .content {
  padding: 30px;
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0%;
}
#content .small-container .content h5 {
  font-size: 14px;
  color: #6b6768;
  line-height: 12px;
}
#content .small-container .content a {
  color: #060606;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

#footer {
  position: relative;
  display: block;
}
#footer .footer-sub {
  margin-top: 15%;
  padding: 10% 0;
  background: #060e1f;
}
#footer .footer-sub .box-text-center {
  background-image: url(https://wp.w3layouts.com/online-study/wp-content/themes/online-study/assets/images/banner.png);
  text-align: center;
  padding: 50px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  background-color: #fbfbfb;
  box-shadow: 0px -1px 41px 0px rgba(21, 22, 23, 0.08);
}
#footer .footer-sub .box-text-center h4 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5%;
}
#footer .footer-sub .box-text-center a {
  margin-top: 10%;
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  background: #f50057;
  border-radius: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
}
#footer .footer-sub .box-text-center a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.18);
  margin-left: 8px;
  border-radius: 50%;
  text-align: center;
}
#footer .footer-sub .row {
  margin-top: 10%;
  justify-content: center;
}
#footer .footer-sub .row .small-container-about {
  max-width: 27%;
}
#footer .footer-sub .row .small-container-about h6 {
  color: #eee;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}
#footer .footer-sub .row .small-container-about p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
#footer .footer-sub .row .small-container-about li {
  display: inline-block;
  margin-right: 5px;
}
#footer .footer-sub .row .small-container-about li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
#footer .footer-sub .row .small-container-about li a span {
  font-size: 15px;
  line-height: 35px;
}
#footer .footer-sub .row .small-container-center {
  max-width: 22%;
  margin-left: 10%;
}
#footer .footer-sub .row .small-container-center h6 {
  color: #eee;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}
#footer .footer-sub .row .small-container-center p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
#footer .footer-sub .row .small-container-center a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
#footer .footer-sub .row .small-container-center a:before {
  display: inline-block;
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 500;
  margin-right: 5px;
}
#footer .footer-sub .row .small-container-center span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}
#footer .footer-sub .row .small-container-contact {
  max-width: 22%;
  margin-left: 10%;
}
#footer .footer-sub .row .small-container-contact h6 {
  color: #eee;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}
#footer .footer-sub .row .small-container-contact p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
#footer .footer-sub .row .small-container-contact a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
#footer .footer-sub .row .small-container-contact span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

#movetop {
  display: block;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #f50057;
  border-radius: 50px;
  padding: 0;
}
#movetop a {
  color: #fff;
}

/*# sourceMappingURL=March-2022.css.map */
