@use "globals";

header {
  #site-header {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .container-header {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    position: fixed;
    z-index: 1030;
  }

  nav {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    border-radius: 30px;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75% 2%;
    margin: 0 5%;
    position: fixed;
    display: flex;
    margin: 0 auto;
    width: 89%;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 2em;
      font-weight: 400;
      line-height: 28px;

      .navbar-brand {
        margin: 0;
        padding: 0;
        font-size: 32px;
        color: #060606;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;

        .img-fluid {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          border-style: none;
        }
      }
    }

    .menu-dropdown {
      border: none;
      display: block;

      @media (min-width: 1060px) {
        display: none;
      }

      @media (max-width: 1060px) {
        margin-right: -500px;
      }

      @media (max-width: 992px) {
        margin-right: -400px;
      }

      @media (max-width: 850px) {
        margin-right: -300px;
      }

      @media (max-width: 768px) {
        margin-right: -200px;
      }

      @media (max-width: 640px) {
        margin-right: -100px;
      }

      @media (max-width: 530px) {
        margin-right: -20px;
      }

      span {
        color: #fff;
        background-color: #f50057;
        padding: 8px;
        border-radius: 5px;
        font-size: 22px;
      }
    }

    .menu-dropdown:hover {
      background-color: #3f3d56;
      .navbar-collapse {
        display: block;
      }
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
      display: none;

      @media (min-width: 1060px) {
        display: flex;
        flex-basis: auto;
      }

      #primary-menu {
        @media (min-width: 1060px) {
          flex-direction: row;
          margin-left: auto;
          display: flex;
          margin-right: 5%;
        }

        .menu-item {
          padding: 0 10px;
          transition: all 0.5s ease;
          position: relative;

          .link-red {
            color: #f50057;
            display: block;
            padding: 0.5rem 1rem;
          }

          .link {
            padding: 10px 0;
            font-size: 16px;
            color: #060606;
            letter-spacing: 0.5px;
            display: block;
            padding: 0.5rem 1rem;
          }

          a:hover {
            color: #f50057;
          }
        }
      }

      .search {
        border-radius: 30px;
        background-color: #f50057;
        padding: 12px 25px;
        border: none;
        margin-left: 15px;

        a {
          font-size: 15px;
          color: #fff;
          font-weight: 600;
        }
      }

      .search:hover {
        background-color: #3f3d56;
      }
    }

    .icon {
      margin-left: 5%;
    }

    .icon-menu {
      color: #f50057;
      display: none;

      @media (max-width: 1060px) {
        display: inline-block;
      }
    }

    @media (min-width: 992px) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }
}

#banner {
  background-image: url(https://wp.w3layouts.com/online-study/wp-content/themes/online-study/assets/images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  background-color: #fbfbfb;

  .content {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    z-index: 99;

    h4 {
      font-weight: 700;
      margin-bottom: 2%;
    }

    ul {
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 1.5;
      text-transform: capitalize;
      text-align: center;

      a {
        color: #f50057;
      }
    }
  }
}

#get-in-tounch {
  margin-top: 10%;

  .container {
    .title-main {
      max-width: 58%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      h3 {
        font-size: 35px;
        line-height: 50px;
        font-weight: 700;
      }
    }
  }

  .row {
    justify-content: center;
    margin: 10% auto;
    max-width: 65%;
    justify-content: space-between;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);

    .small-container {
      max-width: 50%;

      @media (max-width: 992px) {
        max-width: none;
        width: 100%;
      }

      iframe {
        border: none;
        max-width: 100%;
        min-height: 574px;
      }

      .form {
        padding: 2%;

        h4 {
          margin: 5%;
          text-align: center;
        }

        form {
          .form-group {
            margin-bottom: 5%;
          }

          .form-control {
            transition: none;
          }

          .row {
            box-shadow: none;
            max-width: 100%;
            margin: 10% 0 0 0;

            .small {
              max-width: 49%;

              @media (max-width: 992px) {
                max-width: none;
                width: 49%;
              }
            }

            input {
              outline: none;
              color: #222;
              border: none;
              padding: 14px;
              border: 1px solid #ced4da;
              width: 100%;
              background: #fff;
              height: auto;
              border-radius: 4px;
            }
          }

          .submit {
            text-align: right;

            button {
              padding: 12px 30px;
              font-size: 16px;
              color: #fff;
              background-color: #f50057;
              border-radius: 30px;
              font-weight: 500;
              border: none;
            }

            button:hover {
              background-color: #3f3d56;
            }
          }
        }
      }
    }

    .right {
      margin-right: 10%;

      @media (max-width: 1171px) {
        margin-right: 0;
      }
    }
  }
}

#support {
  .container {
    h3 {
      text-align: center;
      margin-bottom: 5%;
    }

    .row {
      .small-container {
        max-width: 33%;
        text-align: center;

        @media (max-width: 992px) {
          max-width: none;
          width: 50%;
          margin-bottom: 5%;
        }

        @media (max-width: 576px) {
          max-width: none;
          width: 100%;
          margin-bottom: 15%;
        }

        span {
          font-size: 40px;
          color: #f50057;
        }

        h5 {
          margin-top: 5%;
          font-weight: 600;
        }

        p {
          margin: 7% 10%;
        }

        a {
          padding: 12px 30px;
          font-size: 16px;
          color: #fff;
          background: #3f3d56;
          border-radius: 30px;
          font-weight: 500;
        }

        a:hover {
          background-color: #f50057;
        }
      }
    }
  }
}

#footer {
  position: relative;
  display: block;

  .footer-sub {
    margin-top: 15%;
    padding: 10% 0;
    background: #060e1f;

    .box-text-center {
      background-image: url(https://wp.w3layouts.com/online-study/wp-content/themes/online-study/assets/images/banner.png);
      text-align: center;
      padding: 50px;
      max-width: 700px;
      margin: 0 auto;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: -100px;
      background-color: #fbfbfb;
      box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);

      h4 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5%;
      }

      a {
        margin-top: 10%;
        padding: 12px 30px;
        font-size: 16px;
        color: #fff;
        background: #f50057;
        border-radius: 30px;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        line-height: 1.5;

        i {
          width: 30px;
          height: 30px;
          line-height: 30px;
          background: rgb(255 255 255 / 18%);
          margin-left: 8px;
          border-radius: 50%;
          text-align: center;
        }
      }

      a:hover {
        background-color: #3f3d56;
      }
    }

    .row {
      margin-top: 15%;
      justify-content: center;
      padding: 0 5%;

      @media (max-width: 576px) {
        margin-top: 40%;
      }

      .small-container-about {
        width: 26%;

        @media (max-width: 992px) {
          width: 50%;
        }

        @media (max-width: 576px) {
          width: 100%;
          margin-bottom: 5%;
        }

        h6 {
          color: #eee;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(23, 54, 88, 0.4);
          padding-bottom: 10px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
        }

        li {
          display: inline-block;
          margin-right: 5px;

          a {
            color: #fff;
            width: 35px;
            height: 35px;
            background: rgba(255, 255, 255, 0.06);
            display: inline-block;
            border-radius: 50%;
            text-align: center;

            span {
              font-size: 15px;
              line-height: 35px;
            }
          }
        }
      }

      .small-container-center {
        width: 22%;
        margin-left: 3%;

        @media (max-width: 992px) {
          width: 50%;
          margin-left: 0;
        }

        @media (max-width: 576px) {
          width: 100%;
          margin-left: 0;
          margin-bottom: 5%;
        }

        h6 {
          color: #eee;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(23, 54, 88, 0.4);
          padding-bottom: 10px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
        }

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
          margin: 0 0 10px 0;
          display: block;
        }

        a:before {
          display: inline-block;
          content: "\f101";
          font: normal normal normal 14px/1 FontAwesome;
          font-weight: 500;
          margin-right: 5px;
        }

        span {
          font-size: 18px;
          color: #fff;
          vertical-align: middle;
          margin-right: 10px;
          width: 25px;
          text-align: center;
        }
      }

      .small-container-center2 {
        width: 22%;
        margin-left: 3%;

        @media (max-width: 992px) {
          width: 50%;
          margin-left: 0;
        }

        @media (max-width: 576px) {
          width: 100%;
          margin-left: 0;
          margin-bottom: 5%;
        }

        h6 {
          color: #eee;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(23, 54, 88, 0.4);
          padding-bottom: 10px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
        }

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
          margin: 0 0 10px 0;
          display: block;
        }

        a:before {
          display: inline-block;
          content: "\f101";
          font: normal normal normal 14px/1 FontAwesome;
          font-weight: 500;
          margin-right: 5px;
        }

        span {
          font-size: 18px;
          color: #fff;
          vertical-align: middle;
          margin-right: 10px;
          width: 25px;
          text-align: center;
        }
      }

      .small-container-contact {
        width: 22%;
        margin-left: 2%;

        @media (max-width: 992px) {
          width: 50%;
          margin-left: 0;
        }

        @media (max-width: 576px) {
          width: 100%;
          margin-left: 0;
          margin-bottom: 5%;
        }

        h6 {
          color: #eee;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(23, 54, 88, 0.4);
          padding-bottom: 10px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
        }

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #cecece;
          margin: 0 0 10px 0;
          display: block;
        }

        span {
          font-size: 18px;
          color: #fff;
          vertical-align: middle;
          margin-right: 10px;
          width: 25px;
          text-align: center;
        }
      }
    }
  }
}

#movetop {
  display: block;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #f50057;
  border-radius: 50px;
  padding: 0;

  a {
    color: #fff;
  }
}
